@model IEnumerable<SimpleBlogEngine.Models.Post>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";

}

<h2>Latest news:</h2>

@foreach (var post in Model)
{
    <h1> @post.Title </h1>
    <h2>@post.Date</h2>
    <p>@post.Content</p>
}