
@{
    ViewData["Title"] = "Index";
    
}

<h2>Sing in:</h2>
<form method="post">
    Username: <input name="username" type="text"/> <br/>
    Password: <input name="password" type="password"/> <br />
    <button type="submit" asp-controller="Login" asp-action="Authorize">Log In</button>
</form>

