@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Identity.UI.Pages.Internal.Account.Manage
@using SimpleBlogEngine.DAL
@using SimpleBlogEngine.Models


<h2>_ViewImports</h2>

